{% extends "layout.html" %}
{% block body %}
	<h3>Group {{thegroup.basic.fqin}}</h3>
  <!--iframe width="100%" src="/group/{{ thegroup.basic.fqin}}"></iframe width="100%"-->
  <div id="info" style="display:none"></div>
  <hr/>
  <h4>Members In</h4>
  <iframe width="100%" src="/group/{{ thegroup.basic.fqin}}/members"></iframe width="100%">

  <h4>Inviteds</h4>
  <iframe width="100%" src="/group/{{ thegroup.basic.fqin}}/inviteds"></iframe width="100%">

{% endblock %}
{% block coffeescript %}
$=jQuery
$ -> 
  console?.log "Hello World"
  $.get "/group/{{ thegroup.basic.fqin}}", (data) ->
    content=views.postable_info data, templates.group_info
    $('div#info').append(content);
    $('div#info').show();
{% endblock %}