{% extends "layout.html" %}

{% block sidebar %}
  <li class="nav-header">TAGS</li>
  <iframe width="100%" width="100%" src="/postable/{{ thegroup.basic.fqin}}/tags?{{ querystring }}"></iframe width="100%">
{% endblock %}

{% block body %}
<h2>Group {{thegroup.basic.fqin}}</h2>
<p>
Breadcrumb {{ querystring }}
</p>
<h3>Items</h3>
    <h5>Items In</h5>
  <iframe width="100%" width="100%" src="/group/{{ thegroup.basic.fqin}}/items?{{ querystring }}"></iframe width="100%">

{% endblock %}

{% block script %}
console.log("In Filter");
{% endblock %}