{% extends "layout.html" %}
{% block body %}
<h3>Library {{thelibrary.basic.fqin}}</h3>
  <!--iframe width="100%" src="/library/{{ thelibrary.basic.fqin}}"></iframe-->
  <div id="info" style="display:none"></div>
  <hr/>
  <h4>Members</h4>
  <iframe width="100%" src="/library/{{ thelibrary.basic.fqin}}/members"></iframe>
  <h4>Inviteds</h4>
  <iframe width="100%" src="/library/{{ thelibrary.basic.fqin}}/inviteds"></iframe width="100%">

{% endblock %}
{% block coffeescript %}
$=jQuery
$ -> 
  console?.log "Hello World"
  $.get "/library/{{ thelibrary.basic.fqin}}", (data) ->
    content=views.postable_info data, templates.library_info
    $('div#info').append(content);
    $('div#info').show();
{% endblock %}