{% extends "layout.html" %}
{% block body %}
    <h2>Saving {{itemtype}}s</h2>
<form id="items">
    <legend>Tagging and Posting</legend>
    {% if nameable %}
      <div class="control-group">
        <label class="control-label">Name this {{itemtype}}</label>
        <input class="controls" type="text" placeholder="Type something…">
      </div>
    {% endif %}
    <div class="control-group">
      <label class="checkbox control-label">
        <input class="controls" type="checkbox"> Make Public
      </label>
    </div>
    <div class="control-group">
      <label class="control-label">Libraries</label>
      <input class="controls" type="text" placeholder="Type something…">
    </div>
    <div class="control-group">
      <label class="control-label">Groups</label>
      <input class="controls" type="text" placeholder="Type something…">
    </div>
    <div class="control-group">
      <label class="control-label">Tags</label>
      <input class="controls" type="text" placeholder="Type something…">
    </div>
    <button type="submit" class="btn">Submit</button>

</form>
{% endblock %}

{% block coffeescript %}
$=jQuery
console.log "In Postform"
#currently below only works for pubs, but ought to work otherwise too
$ -> 
  vars="{{ querystring | safe }}"
  console.log "VARS",vars
  $.get "/itemsinfo?#{vars}", (data) ->
    console.log "Item Count", data.count, data.items, vars
    theitems=data.items
    thecount=data.count
    itemlist=("items=#{encodeURIComponent(i.basic.fqin)}" for i in theitems)
    itemsq=itemlist.join("&")
    console.log "itemsq", itemlist, itemsq
    $.get "/items/taggingsandpostings?#{itemsq}", (data)->
      [stags, notes]=get_taggings(data)
      postings={}
      for own k,v of data.postings
        #console.log "2>>>", k,v[0],v[1]
        if v[0] > 0
          postings[k]=(e.thething.postfqin for e in v[1])
        else
          postings[k]=[]
      format_items $('#items'), "{{useras.nick}}", theitems, thecount, stags, notes, postings, "div", true
{% endblock %}